.ContainerDiv {
  width: 512px;
  height: 247px;
  background-color: #191b1f;
  border: 1.78px solid #26272d;
  border-radius: 4px;
}
.MainTitle {
  width: 97.44%;
  padding-top: 11px;
  padding-left: 11px;
  color: #cbc2d1;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
}

.DataContainer{
    width:100%;
   height: 173px;
    display:flex;
}

.AreaChartContainer{
    width:220px;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top: 29px;
    padding-left: 5px;
}
.MainContainer{
  display:flex;
  margin-top: 7px;
  flex-direction:column;  
  width:287px;
}

.TitleContainer{
  display: flex;
  height: 23px;
  width: 100%;

  align-items: center;
}

.h6Container{
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto";
  color: #5a80c8 ;
  padding-left: 20px;
  padding-right: 32px;
  margin: 0; 
}
.h6ContainerL{
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto";
  color: #5a80c8 ;
  padding-left: 10px;
  padding-right: 3px;
  margin: 0; 
}

/* legend row */
.legendItem{
  display:flex;
  align-items:center;
  padding:6px 0;
  margin-right:20px;   
  margin-left: 20px;       /* pushes border end near % */
  border-top:1px solid #2a2f36;
  border-bottom:1px solid #2a2f36;
  font-size:10px;
  font-family: "Roboto";
  font-weight: 500;
   color:#cbc2d1;
}
.first{
  border-top:1px solid #2a2f36;
}

/* color bar */
.colorBox{
  width:15px;
  height:4.6px;
  border-radius:3px;
  margin-right:8px;
}

.available{
  background:#1a408b;
}

.used{
  background:#7bf55f;
}

.reserved{
  background:#f1485c;
}
.reserved1{
  background:#e16e0b;
}
.reserved2{
  background:#ccccdd;
}


.label{
 color:#cbc2d1;
}


.value{
padding-left: 13px;
  padding-right:6px; 
  color:#cbc2d1;
  font-size:10px;
  font-family: "Roboto";
  font-weight: 500;
}

.value1{
padding-left: 29px;
  padding-right:6px; 
  color:#cbc2d1;
  font-size:10px;
  font-family: "Roboto";
  font-weight: 500;
}

.value2{
padding-left: 30px;
  padding-right:6px; 
  color:#cbc2d1;
  font-size:10px;
  font-family: "Roboto";
  font-weight: 500;
}

.Divspan{
  font-size: 11px;
  margin-left: 10px;
  color: #6b9bf9;
}