.outerDiv{
    width:299px;
    height:250px;
    display:flex;
    flex-direction:column;
    gap:5px;
    /* margin-left: 5px */
}

.Title{
    padding-top:10px;
    padding-left:12px;
    color:#cbc2d1;
    font-family:"Roboto";
    font-size:13px;
    font-weight:500;
}

.innerDiv1 {
  width: 295px;
  height: 165px;
  background-color: #191b1f;
  border: 1.78px solid #26272d;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.AreaChartContainer{
    width:282px;
    height: 149px;
    display:flex;
    justify-content:center;
    align-items: center;
    padding-left: 8px;
}
.MainContainer{
  display:flex;
  flex-direction:column;  /* stack vertically */
  width:100%;
}

.TitleContainer{
  display: flex;
  height: 23px;
  width: 100%;
  gap:99px;
  align-items: center;
}

.h6Container{
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto";
  color: #5a80c8 ;
  padding-left: 20px;
  margin: 0; 
}

/* legend row */
.legendItem{
  display:flex;
  align-items:center;
  padding:6px 0;
  margin-right:20px;   
  margin-left: 20px;       /* pushes border end near % */
  border-top:1px solid #2a2f36;
  border-bottom:1px solid #2a2f36;
  font-size:10px;
  font-family: "Roboto";
  font-weight: 500;
   color:#cbc2d1;
}
.first{
  border-top:1px solid #2a2f36;
}

/* color bar */
.colorBox{
  width:15px;
  height:4.6px;
  border-radius:3px;
  margin-right:8px;
}

.available{
  background:#1a408b;
}

.used{
  background:#7bf55f;
}

.reserved{
  background:#f1485c;
}
.reserved1{
  background:#e16e0b;
}
.reserved2{
  background:#ccccdd;
}

/* label text */
.label{
 color:#cbc2d1;
}

/* percentage aligned right */
.value{
  margin-left:auto;
  padding-right:6px;  /* space from right edge */
  color:#cbc2d1;
  font-size:10px;
  font-family: "Roboto";
  font-weight: 500;
}
.innerDiv2{
  width:295px;
    height:76px;
    background-color:#191b1f;
    border:1.78px solid #26272d;
    border-radius:4px;
    display:flex;
    flex-direction:column;
}

.pInnerDiv1{
    display:flex;
    align-items:flex-end;
    gap:6px;
    color:#73be69;
    font-size:30px;
    font-weight:600;
    padding-left: 59px;
    padding-top: 5px;
    margin:0;
}

.pInnerDiv1 span{
    font-size:28px;
    font-weight:500;
    margin-left: 6px;
    margin-bottom: 1px;
}