.ContainerDiv {
  width: 488px;
  height: 248px;
  background-color: #191b1f;
  border: 1.78px solid #26272d;
  border-radius: 4px;
}
.MainTitle {
  width: 97.44%;
  padding-top: 11px;
  padding-left: 11px;
  color: #cbc2d1;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
}

.DataContainer{
    width:100%;
   height: 173px;
    display:flex;
}

.AreaChartContainer{
    width:260px;
    display:flex;
    justify-content:center;
    align-items: center;
    padding-top: 60px;
    padding-left: 8px;
}
.MainContainer{
  display:flex;
  flex-direction:column;  /* stack vertically */
  width:100%;
}

.TitleContainer{
  display: flex;
  height: 23px;
  width: 100%;
  gap:99px;
  align-items: center;
}

.h6Container{
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto";
  color: #5a80c8 ;
  padding-left: 20px;
  margin: 0; 
}

/* legend row */
.legendItem{
  display:flex;
  align-items:center;
  padding:6px 0;
  margin-right:20px;   
  margin-left: 20px;       /* pushes border end near % */
  border-top:1px solid #2a2f36;
  border-bottom:1px solid #2a2f36;
  font-size:10px;
  font-family: "Roboto";
  font-weight: 500;
   color:#cbc2d1;
}
.first{
  border-top:1px solid #2a2f36;
}

/* color bar */
.colorBox{
  width:15px;
  height:4.6px;
  border-radius:3px;
  margin-right:8px;
}

.available{
  background:#1a408b;
}

.used{
  background:#7bf55f;
}

.reserved{
  background:#f1485c;
}
.reserved1{
  background:#e16e0b;
}
.reserved2{
  background:#ccccdd;
}

/* label text */
.label{
 color:#cbc2d1;
}

/* percentage aligned right */
.value{
  margin-left:auto;
  padding-right:6px;  /* space from right edge */
  color:#cbc2d1;
  font-size:10px;
  font-family: "Roboto";
  font-weight: 500;
}
