.ContainerDiv {
  width: 270px;
  height: 200px;
  background-color: #191b1f;
  border: 1.78px solid #26272d;
  border-radius: 4px;
}
.MainTitle {
  width: 97.44%;
  padding-top: 11px;
  padding-left: 11px;
  color: #cbc2d1;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
}


.DataContainer{
    width:100%;
   height: 173px;
    display:flex;
}

.AreaChartContainer{
    width:240px;
    display:flex;
    justify-content:center;
    align-items: center;
    padding-left: 20px;
    margin-right: 6px;
    /* background-color: #fff; */
}
