.ContainerDiv {
  width: 385px;
  height: 228px;
  /* background-color: #191b1f; */
  border: 1.78px solid #26272d;
  border-radius: 4px;

}

.innerDiv2 {
  width: 385px;
  height: 226px;
  background-color: #191b1f;
  display: flex;
  flex-direction: column;
  
}

.innerDiv2Title {
  padding-top: 10px;
  padding-left: 12px;
  color: #cbc2d1;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 500;
}
.MainTitle {
  width: 97.44%;
  padding-top: 11px;
  padding-left: 11px;
  padding-bottom: 10px;
  color: #cbc2d1;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
}
